name: Selenium - POC de Prisa

on: [push]

jobs:
  Chrome:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Run Selenium with Maven
        run: mvn -B package --file pom.xml -Dbrowser=chrome

      - name: Generate artifact for ExtentReports PDF
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: extent_pdf
          path: ./extent-reports/pdf

      - name: Generate artifact for ExtentReports JSON
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: extent_json
          path: ./extent-reports/json

      - name: Generate artifact for ExtentReports Advanced HTML
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: extent_index
          path: ./extent-reports/html

      - name: Generate artifact for ExtentReports Spark HTML
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: extent_html
          path: ./extent-reports/spark

      - name: Generate artifact for Cucumber Basic HTML
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cucumber_html
          path: ./cucumber-reporting/html

      - name: Generate artifact for Cucumber HTML Reports
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cucumber_html_report
          path: ./cucumber-reporting/cucumber-html-reports

          #- name: Deploy report index to GitHub Page
          #uses: JamesIves/github-pages-deploy-action@4.1.5
          #with:
          #branch: gh-pages
          #folder: ./reports/spark

      - name: Get AllureReports history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Get AllureReports results
        uses: simple-elf/allure-report-action@master
        if: always()
        id: allure-report
        with:
          allure_results: ./allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history
          keep_reports: 10

      - name: Prepare AllureReports deploy to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history

      - name: Post the Allure link in the commit status
        if: always()
        uses: Sibz/github-status-action@v1
        with:
          authToken: ${{secrets.GITHUB_TOKEN}}
          context: 'Allure Reports'
          description: 'Pulsa "Details" para acceder al reporte'
          state: 'success'
          sha: ${{github.event.pull_request.head.sha || github.sha}}
          target_url: https://mkosakovskyy.github.io/poc_prisa/${{github.run_number}}